mixin resourceCard(resource = {})
	.d-lg-inline-block
		.card(style='width: 20rem;')
			img.card-img-top.img-thumbnail(src=`/uploads/${resource.photo || "student.png"}`, class="" alt='Card image cap')
			.card-body
				a(href=`/show/student/${resource._id}`)
					h4.card-title Matric - #{resource.matric_number}
					p.card-text
						| #{resource.firstname}  #{resource.lastname} #{resource.middlename}



